<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Suite" thread-count="5" parallel="tests">
	
  <test name="chromeTest">
	  
	  <parameter name="browser" value="chrome"></parameter> <!-- User defined, we can name it any value like ch-->
	  
	    <classes>
	    
	      <class name="TestNG_ParallelTesting.ParamTest"/>
	   
	    </classes>
	    
	    
	  
   </test> <!-- Test -->
   
    <test name="edgeTest">
	  
	  <parameter name="browser" value="edge"></parameter> <!-- User defined, we can name it any value like ch-->
	  
	    <classes>
	    
	      <class name="TestNG_ParallelTesting.ParamTest"/>
	   
	    </classes>
	    
	    
	  
   </test> <!-- Test -->
</suite> <!-- Suite -->
